<div class="fizzbuzz-container">
    <h2>Welcome to FizzBuzz</h2>
    <p>Instructions: press the button to make einstein say a starting number</p>

    <div (click)="buttonClick()" class="einstein-button">
        <img src="https://img.icons8.com/ios/500/einstein.png" alt="">
    </div>
    <div class="start-end-container">
        <p><span>Start: </span> {{fizzbuzz.startNumber !== 0 ? fizzbuzz.startNumber : "..."}}</p>
        <p><span>End: </span> {{fizzbuzz.endNumber !== 0 ? fizzbuzz.endNumber : "..."}}</p>

    </div>

    <button *ngIf="fizzBuzzResults && !showError" (click)="download()" mat-raised-button class="download-button">Download File
        <span class="material-icons">
            file_download
        </span>
    </button>

    <h2 *ngIf="fizzBuzzResults && !showError">Results:</h2>

    <p *ngIf="showError" class="error">Error</p>

    <p *ngIf="fizzBuzzResults" class="results">{{fizzBuzzResults}}</p>


</div>