

.fizzbuzz-container {
    text-align: center;
    margin-top: 40px;
    p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .einstein-button {
        width: 120px;
        height: 120px;
        background: #e6e9cb;
        margin: auto;
        border-radius: 120px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-bottom: 50px;

        img {
            width: 100%;
        }
    }
    .start-end-container {
        display: flex;
        justify-content: space-between;
        width: 140px;
        margin: auto;
        span {
            font-weight: 500;
        }
    }
    .error {
        font-family: fantasy;
        color: #f18686;
        font-size: 2rem;
    }
    .results {
        width: 300px;
        margin: auto;
    }
    .einstein-button:active {
        box-shadow: none;
        transform: translate(0, 4px);
    }
}
